{% load staticfiles %}
<html lang="en">
<title>{% block title %} {% endblock %}</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'filedatabase/mystyle.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'filedatabase/favicon.ico' %}" rel="icon" type="image/x-icon" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bghomepage">

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">SPC</a>
    </div>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        {%  else %}
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>


  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>