{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    Choose decryption scheme and key:
    <br>

        <input type="radio" name="scheme" value="AES" >AES<br>
        <input type="radio" name="scheme" value="ARC4" >ARC4<br>
        <input type="radio" name="scheme" value="Blowfish" >Blowfish<br>
        <input type="text" name="key" placeholder="Key" id="key" required>
        <input type="submit" value="Submit" onclick="savedata()">

    <script>
    function savedata(form){
        var radios = document.getElementsByName("scheme");
        var sche = "";
        for(var i=0;i<3;++i){
            if(radios[i].checked==true){
                sche = radios[i].value;
                break;
            }
        }
        console.log(sche);
        document.cookie = "scheme=" + sche+";path=/";
        document.cookie = "key=" + document.getElementById("key").value+";path=/";
        window.location = '/files/'

    }
    </script>
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}