{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    Choose decryption scheme and key:
    <br>
        <input type="radio" name="scheme" value="AES" id="scheme">AES<br>
        <input type="radio" name="scheme" value="ARC4" id="scheme">ARC4<br>
        <input type="radio" name="scheme" value="TripleDES" id="scheme">TripleDES<br>
        <input type="text" name="key" placeholder="Key" id="key" required>
        <input type="submit" value="Submit" onclick="savedata()">

    <script>
    function savedata(form){
        console.log(document.getElementById("key").value);
        document.cookie = "scheme=" + document.getElementById("scheme").value+";path=/";
        document.cookie = "key=" + document.getElementById("key").value+";path=/";
        window.location = '/files/'

    }
    </script>
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}